#wrap-content{
    max-width: 1020px;

    margin: 60px auto 60px auto;
    padding: 0px 10px;
}
/*--------------------------------------------------------------
Title
--------------------------------------------------------------*/
.annuaire-title{
    margin: 80px 0 80px 0;

    text-align: center;

    font-size: 2em;

    color: #212d42;
}
/*--------------------------------------------------------------
Annuaire
--------------------------------------------------------------*/
table{
    width: 100%;

    border-collapse: collapse;
}
th, td{
    padding: 8px;

    text-align: left;

    font-family: 'Lato', sans-serif;
}
th{
    font-weight: bold;

    color: #212d42;
}
tr:nth-child(even){
    color: white;
    background: #212d42;
}
tr:nth-child(even) a{
    color: white;

    text-decoration: underline;
}
tr:nth-child(odd) a {
    color: #212d42;

    text-decoration: underline;
}
/*--------------------------------------------------------------
Inscription
--------------------------------------------------------------*/
.annuaire-registrer{
    margin: 80px 0 0 0;

    text-align: right;
}
#annuaire-registrer-button {
    padding: 6px 40px;

    border: 2px solid #fea524;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;

    font-family: 'Lato', sans-serif;
    font-size: 1.1em;

    color: white;
    background-color: #fea524;
}
#annuaire-registrer-button:hover {
    color: #fea524;
    background: white;
}
/*--------------------------------------------------------------
Responsive 992px
--------------------------------------------------------------*/
@media all and (max-width: 992px){
    .annuaire-title {
        font-size: 1.5em;
    }
}
/*--------------------------------------------------------------
Responsive 768px
--------------------------------------------------------------*/
@media all and (max-width: 768px){
    .annuaire-title {
        font-size: 1.2em;
    }
    .annuaire-content, #annuaire-registrer-button{
        font-size: 14px;
    }
    #annuaire-registrer-button {
        padding: 5px 30px;
    }
}