#wrap-content{
    max-width: 1020px;

    margin: 60px auto 60px auto;
    padding: 0px 10px;

    box-sizing: border-box;
}
#wrap-content a{
    text-decoration: underline;

    font-family: 'Lato', sans-serif;
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    max-width: 500px;

    padding: 2px;
}
input[type="submit"]{
    padding: 6px 40px;

    border: 2px solid #fea524;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;

    font-family: 'Lato', sans-serif;
    font-size: 1.1em;

    color: white;
    background-color: #fea524;
}
input[type="submit"]:hover{
    color: #fea524;
    background: white;
}